[Unit]
Description=Luna Service2 (private)

[Service]
ExecStart=/usr/bin/ls-hubd --conf /etc/ls2/ls-private.conf --pmloglib

[Install]
WantedBy=basic.target
